@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap");
@font-face {
  font-family: "Jingle Star";
  src: url(../fonts/Jingle\ Star.ttf);
}
* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  font-size: 14px;
}

body {
  background-color: rgb(241, 248, 249);
}

/* Estilos Navbar */
.encabezado {
  width: 100%;
  align-items: start;
  justify-content: space-between;
  font-weight: bold;
  padding-right: 20px;
}
.encabezado .logo_container img {
  width: 200px;
  padding-left: 15px;
}
.encabezado .logo_container img:hover {
  transform: scale(1.4);
}
.encabezado .navbar-collapse li {
  width: auto;
  padding: 20px;
  font-weight: bold;
  font-size: medium;
}

/* pseudoclase Hover */
.navbar-nav .nav-item a:hover, .navbar-nav .nav-item a:active {
  background-color: rgba(3, 3, 141, 0.116);
  font-weight: 600;
}

/* Estilo RRSS */
.rrss {
  display: flex;
  align-items: center;
  justify-content: start;
}
.rrss .instagram {
  color: blueviolet;
}
.rrss .whatsapp {
  color: green;
}
.rrss i {
  font-size: 30px;
  transition: all ease 500ms;
}
.rrss i:hover {
  transform: scale(1.2);
}

/* Estilos Institucional */
.institucional {
  padding-bottom: 20px;
  width: 100%;
  padding-left: 15px;
}

.contenido h1 {
  font-size: 30px;
  font-family: "Jingle Star", cursive;
  color: rgba(41, 41, 157, 0.807);
  display: flex;
  align-items: start;
  justify-content: start;
}

.contenido .slogan {
  font-size: 20px;
  font-weight: 700;
  color: rgba(22, 14, 14, 0.816);
  display: flex;
  align-items: start;
  justify-content: start;
}

/* Estilos Formulario reserva */
.reservas {
  width: 100%;
  height: 700px;
  background-image: url(../img/ObeliscoBA.jpg);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top: 50px;
  padding-bottom: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.reservas .form_container {
  width: 45%;
  padding: 20px;
  background-color: rgba(108, 108, 136, 0.511);
  height: auto;
}
.reservas .form_container form {
  color: white;
  font-weight: 700;
}
.reservas .form_container form .form_control input[type=text] {
  width: 300px;
}
.reservas .form_container form .form_control input[type=email] {
  width: 350px;
}
.reservas .form_container form textarea {
  width: 400px;
  height: 100px;
}
.reservas .form_container form .form_control label {
  width: auto;
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: large;
}
.reservas .form_container form .form_control .cantidad {
  padding-bottom: 10px;
}
.reservas .form_container form .form_control input {
  padding-left: 3px;
}
.reservas .form_container form .form_control #observaciones {
  padding-left: 3px;
}
.reservas .form_container h2 {
  font-family: "Jingle Star", cursive;
  font-size: 30px;
  color: aliceblue;
  padding: 0;
  width: auto;
  display: flex;
  justify-content: center;
}

/* Estilos sección Pasos */
.container_pasos {
  width: 100%;
  padding: 0.5rem 1%;
  display: grid;
  gap: 0.75rem;
  grid-template-rows: 50px 1fr;
  padding-bottom: 35px;
}
.container_pasos .encabezado_pasos {
  padding-bottom: 10px;
  padding-top: 10px;
}
.container_pasos .encabezado_pasos h2 {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: x-large;
}
.container_pasos .icon_pasos {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 30px;
  padding-left: 20px;
  grid-template-areas: "uno dos tres";
  gap: 15px;
}
.container_pasos .icon_pasos .paso_1 {
  border-radius: 5px 10px;
  box-shadow: 1px 1px 5px black;
  grid-area: uno;
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.container_pasos .icon_pasos .paso_1 p {
  width: 100%;
  padding: 5px;
  box-shadow: none;
  font-size: medium;
  font-weight: 500;
}
.container_pasos .icon_pasos .paso_2 {
  border-radius: 5px 10px;
  box-shadow: 1px 1px 5px black;
  grid-area: dos;
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.container_pasos .icon_pasos .paso_2 p {
  width: 100%;
  padding: 5px;
  box-shadow: none;
  font-size: medium;
  font-weight: 500;
}
.container_pasos .icon_pasos .paso_3 {
  border-radius: 5px 10px;
  box-shadow: 1px 1px 5px black;
  grid-area: tres;
  width: 80%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
}
.container_pasos .icon_pasos .paso_3 p {
  width: 100%;
  padding: 5px;
  box-shadow: none;
  font-size: medium;
  font-weight: 500;
}

.icon_pasos i {
  font-size: xxx-large;
}

.container_pasos h4 {
  font-size: x-large;
  font-weight: 900;
}

/* Estilos sección top actividades */
.top-actividades {
  padding: 0.5rem 1%;
  width: 100%;
  background-color: rgba(215, 248, 248, 0.401);
  gap: 0.75rem;
  margin-top: 10px;
}
.top-actividades h2 {
  font-weight: bold;
  font-size: x-large;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  display: flex;
  align-items: start;
  justify-content: start;
}
.top-actividades .top-actividades_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  justify-content: center;
  padding-top: 15px;
}
.top-actividades .top-actividades_container img {
  width: auto;
  height: 200px;
  border-radius: 10px 25px;
  margin: 10px;
}

/* Estilos detalle servicios */
.detalle_servicios p {
  width: auto;
  font-size: medium;
  margin-bottom: 20px;
  margin-top: 20px;
}

.detalle_servicios h1 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-size: x-large;
  font-weight: bold;
}

.detalle_servicio {
  width: 90%;
  height: auto;
  margin: 25px;
  padding: 10px;
  overflow-x: scroll;
}

/* Estilos Cards */
.card {
  width: 100%;
  background-color: rgba(245, 245, 244, 0.7647058824);
  border-radius: 5px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
}
.card img {
  border-radius: 5px 5px 0 0;
  width: 90%;
  height: 200px;
  object-fit: cover;
  opacity: 0.65;
}
.card img:hover {
  opacity: 1;
}
.card .card_title {
  padding: 0 10px;
}
.card .card_container {
  width: 100%;
  padding: 10px;
  font-size: 0.9rem;
  display: flex;
  flex-flow: column wrap;
  justify-content: space-between;
}
.card .card_container a.boton_descubrir {
  width: 100px;
  align-self: flex-end;
  font-weight: bold;
}
.card .card_container a.boton_descubrir:hover {
  transform: scale(1.2);
}

/* Estilos sección beneficios */
.beneficios {
  width: 100%;
  padding: 1rem 1%;
  display: grid;
  grid-template-rows: 100px auto;
  background-color: rgba(215, 248, 248, 0.401);
}
.beneficios h2 {
  font-weight: bold;
  font-size: x-large;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  display: flex;
  align-items: start;
  justify-content: start;
}
.beneficios .beneficios_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-bottom: 25px;
  place-items: center;
}

.card_beneficios {
  width: 75%;
  height: 270px;
  display: flex;
  align-items: center;
  background-color: rgba(245, 245, 244, 0.7647058824);
  padding-top: 20px;
  border-radius: 10px;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.45);
  flex-flow: column wrap;
  gap: 10px;
}
.card_beneficios img {
  border-radius: 5px 5px 0 0;
  width: 50%;
  height: 180px;
  opacity: 0.75;
}
.card_beneficios .card_title {
  padding: 0px 5px;
}
.card_beneficios .card_title h5 {
  font-size: large;
  font-weight: bold;
}

/* Estilos sección Reseñas */
.resenas {
  width: 100%;
  padding: 1rem 1%;
  display: grid;
  grid-template-rows: 100px 50px auto;
}
.resenas h2 {
  font-weight: bold;
  padding-top: 20px;
  color: black;
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  font-size: x-large;
}
.resenas .cinco_estrellas {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: gold;
  padding-bottom: 20px;
}
.resenas .cinco_estrellas i {
  padding: 10px;
  font-size: xx-large;
}
.resenas .imagenes_resenas {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 15px;
  padding-top: 15px;
}
.resenas .imagenes_resenas .card_resena {
  width: 100%;
  height: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  border-radius: 5px 10px;
  box-shadow: 1px 1px 5px black;
  padding: 10px;
  box-sizing: border-box;
}
.resenas .imagenes_resenas .card_resena .nombre_usuario {
  font-weight: bold;
  font-size: medium;
}

/* Estilos sección viajero frecuente */
.form_viajero {
  width: 100%;
  padding: 1rem 1%;
  padding-bottom: 30px;
  display: grid;
  grid-template-rows: 80px 60px auto;
  background-color: rgba(240, 233, 233, 0.238);
}
.form_viajero h2 {
  font-weight: bold;
  padding-top: 20px;
  color: black;
  display: flex;
  align-items: start;
  justify-content: start;
  width: 100%;
  font-size: x-large;
}
.form_viajero .viajero_frecuente {
  width: 100%;
  display: flex;
}
.form_viajero .viajero_frecuente .form_control_viajero label {
  font-size: medium;
  color: black;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 5px;
  padding-right: 25px;
  font-weight: bold;
}
.form_viajero .viajero_frecuente .form_control_viajero input {
  width: 450px;
  height: auto;
  padding-left: 3px;
}
.form_viajero .viajero_frecuente .form_control_submit {
  margin-top: 15px;
}

/* Estilos sección footer */
.navegacion_nav {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}
.navegacion_nav a {
  text-decoration: none;
  color: black;
  font-weight: bold;
}

.pie {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pie .rrss_footer {
  padding-bottom: 20px;
  padding-left: 40px;
}
.pie .rrss_footer .instagram {
  color: blueviolet;
}
.pie .rrss_footer .whatsapp {
  color: green;
}
.pie .rrss_footer i {
  text-decoration: none;
  font-size: 40px;
  transition: all ease 500ms;
}
.pie .rrss_footer i:hover {
  transform: scale(1.2);
}

/* botones */
.boton {
  padding: 5px 10px;
  border: none;
  border-radius: 8px;
  background-color: transparent;
  font-size: 1.125rem;
  cursor: pointer;
  text-decoration: none;
}

.boton_descubrir {
  width: auto;
  color: #333;
  background-color: rgba(245, 245, 145, 0.4274509804);
}

.boton-submit {
  background-color: rgba(187, 234, 218, 0.752);
  font-weight: 400;
  width: auto;
}
.boton-submit:hover {
  background-color: rgba(187, 234, 218, 0.873);
}

/* Página Servicios */
.contenido_servicios {
  width: 100%;
  display: grid;
  padding: 15px;
}
.contenido_servicios h1 {
  font-size: 30px;
  font-family: "Jingle Star", cursive;
  color: rgba(41, 41, 157, 0.807);
  display: flex;
  align-items: start;
  justify-content: center;
}

/* Sección embudo */
.embudo {
  width: 100%;
  height: 600px;
  padding-top: 20px;
  padding-bottom: 20px;
  background-image: url(../img/Obelisco3.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  border-radius: 10px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.embudo h2 {
  width: 100%;
  font-size: xxx-large;
  display: flex;
  justify-content: center;
  align-items: start;
  padding-left: 15px;
  color: whitesmoke;
  font-weight: 600;
  padding-right: 5px;
}
.embudo .boton_reserva {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 70px;
}
.embudo .boton_reserva button {
  width: 100%;
  font-size: xx-large;
}

/* Sección actividades */
.actividades {
  padding: 0.5rem 1%;
  width: 100%;
  background-color: rgba(151, 213, 249, 0.125);
  gap: 0.75rem;
  display: grid;
  grid-template-rows: 50px 50px auto;
}
.actividades h2 {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: x-large;
}
.actividades .intro {
  margin-top: 15px;
}

.actividades_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: rgba(151, 213, 249, 0.125);
  gap: 10px;
  margin-bottom: 20px;
}
.actividades_container img {
  width: auto;
  height: 200px;
  border-radius: 5px 10px;
  margin: 10px;
}
.actividades_container .card_title h4 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
  padding-top: 5px;
}

/* Sección Galería de fotos */
.imagenes_turisticas {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.imagenes_turisticas h2 {
  font-weight: bold;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  display: flex;
  align-items: start;
  justify-content: start;
  font-size: x-large;
}
.imagenes_turisticas .intro {
  margin-top: 15px;
}

/* Página Preguntas */
.contenido_preg {
  padding: 15px;
}
.contenido_preg h1 {
  font-size: 30px;
  font-family: "Jingle Star", cursive;
  color: rgba(41, 41, 157, 0.807);
  display: flex;
  align-items: start;
  justify-content: center;
  padding-bottom: 20px;
}

.accordion-header button {
  font-weight: bold;
  font-size: large;
}

.contacto {
  width: 100%;
  padding-top: 40px;
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  justify-content: start;
  align-items: center;
}
.contacto .contacto_web {
  width: 100%;
  display: flex;
  padding-bottom: 20px;
}
.contacto .contacto_web .contacto button {
  font-size: x-large;
}
.contacto .contacto_whatsapp {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.contacto .contacto_whatsapp .boton_whatsapp_contacto i {
  width: 100%;
  font-size: xxx-large;
  margin-bottom: 20px;
  color: green;
}

.contacto p {
  font-size: x-large;
  padding-bottom: 20px;
}

/* Página Guía turística */
.contenido_guia {
  padding: 15px;
}
.contenido_guia h1 {
  font-size: 30px;
  font-family: "Jingle Star", cursive;
  color: rgba(41, 41, 157, 0.807);
  display: flex;
  align-items: start;
  justify-content: center;
}

/* Sección Imperdibles */
.imperdibles {
  padding: 0.5rem 1%;
  width: 100%;
  background-color: rgba(226, 250, 250, 0.753);
  gap: 0.75rem;
  display: grid;
  grid-template-rows: 50px auto;
}
.imperdibles h2 {
  font-weight: bold;
  font-size: x-large;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  display: flex;
  align-items: start;
  justify-content: start;
}

/* Imperdibles carrusel */
.carousel-inner img {
  width: 95%;
  height: 900px;
  padding: 20px 35px;
}

.carousel-inner h5 {
  font-weight: bold;
  color: white;
  font-size: x-large;
  background: rgba(0, 0, 0, 0.384);
  line-height: 1em;
}

.carousel-inner p {
  font-weight: 600;
  color: white;
  font-size: medium;
  background: rgba(0, 0, 0, 0.384);
}

/* Sección recomendados */
.recomendados {
  padding: 0.5rem 1%;
  width: 100%;
  background-color: rgba(214, 251, 251, 0.359);
  gap: 0.75rem;
  display: grid;
  grid-template-rows: 50px auto;
}
.recomendados h2 {
  font-weight: bold;
  font-size: x-large;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  display: flex;
  align-items: start;
  justify-content: start;
}

.recomendados_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
  margin-bottom: 20px;
}
.recomendados_container img {
  width: auto;
  height: 200px;
  border-radius: 10px 25px;
  margin: 10px;
}

.recomendados p {
  font-size: large;
  margin-top: 5px;
  margin-bottom: 20px;
}

.card_title h4 {
  width: 100%;
  display: flex;
  justify-content: center;
  font-weight: bold;
}

/* Sección Disfruta los mejores lugares de Argentina */
.lugares {
  padding: 0.5rem 1%;
  width: 100%;
  background-color: rgba(214, 251, 251, 0.359);
  gap: 0.75rem;
  display: grid;
  grid-template-rows: 50px auto;
}
.lugares h2 {
  font-weight: bold;
  font-size: x-large;
  padding-top: 20px;
  padding-bottom: 20px;
  color: black;
  display: flex;
  align-items: start;
  justify-content: start;
}
.lugares .videos_container {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  padding-top: 20px;
  gap: 15px;
}
.lugares .videos_container iframe {
  width: 100%;
}

/* Página Contacto */
.nombre_pag h1 {
  font-size: 30px;
  font-family: "Jingle Star", cursive;
  color: rgba(41, 41, 157, 0.807);
  display: flex;
  align-items: start;
  justify-content: center;
  padding-bottom: 20px;
}

.dudas {
  width: 100%;
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.dudas .preguntas {
  padding-bottom: 20px;
  padding-top: 15px;
  place-items: center;
}
.dudas .preguntas h2 {
  width: 100% display flex;
  justify-content: start;
  align-items: center;
  padding-bottom: 40px;
}
.dudas .preguntas .boton_preguntas {
  width: 100%;
  display: flex;
  justify-content: center;
}

.redes {
  width: 100%;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.redes .redes_texto h2 {
  width: 100% display flex;
  justify-content: start;
  align-items: center;
}
.redes .redes_logos {
  width: 100%;
  display: flex;
  justify-content: center;
  padding-top: 10px;
}
.redes .redes_logos i {
  width: 100%;
  font-size: xxx-large;
  margin-bottom: 20px;
}
.redes .redes_logos .instagram {
  color: blueviolet;
}
.redes .redes_logos .whatsapp {
  color: green;
}

.preguntas button {
  width: 100%;
  margin-top: 15px;
  font-size: x-large;
  background-color: rgba(101, 99, 99, 0.825);
}

.contenido {
  padding: 15px;
}

.contactanos {
  width: 100%;
  display: flex;
  justify-content: center;
}
.contactanos .form_container_contacto {
  width: 45%;
  background-color: rgba(128, 128, 128, 0.297);
  padding: 15px 40px;
  border-radius: 20px 15px;
  display: flex;
  flex-direction: column;
}
.contactanos .form_container_contacto h4 {
  padding: 25px;
  font-weight: bold;
  width: 100%;
  display: flex;
  justify-content: center;
}

.form_control_contacto {
  width: 100%;
  padding-bottom: 15px;
  padding-right: 5px;
}
.form_control_contacto label {
  width: 100%;
  align-items: center;
}
.form_control_contacto input[type=submit] {
  width: 110px;
  height: 40px;
  font-weight: bold;
  font-size: medium;
  background-color: rgba(98, 98, 203, 0.242);
  border-radius: 5px 15px;
}
.form_control_contacto input[type=submit]:hover {
  background-color: rgba(0, 0, 255, 0.196);
}
.form_control_contacto input[type=reset] {
  width: 110px;
  height: 40px;
  font-weight: bold;
  font-size: medium;
  background-color: rgba(98, 98, 203, 0.242);
  border-radius: 15px 5px;
}
.form_control_contacto input[type=reset]:hover {
  background-color: rgba(0, 0, 255, 0.196);
}
.form_control_contacto input {
  padding-left: 2px;
  width: 100%;
}
.form_control_contacto #observaciones_contacto {
  width: 100%;
  padding-left: 2px;
}

.form_control_contacto label {
  padding-right: 10px;
  padding-bottom: 10px;
  font-size: medium;
  font-weight: bold;
}

/* Media queries */
@media (max-width: 1100px) {
  .encabezado .navbar-collapse li {
    padding: 10px;
  }
  .resenas .imagenes_resenas {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .resenas .imagenes_resenas .card_resena {
    height: 240px;
  }
  .resenas .imagenes_resenas .card_resena .nombre_usuario {
    font-size: large;
  }
  .resenas .imagenes_resenas .card_resena .resena_usuario {
    font-size: x-large;
  }
  .reservas .form_container {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  .reservas {
    height: auto;
  }
  .embudo h2 {
    font-size: xx-large;
  }
  .embudo {
    height: 400px;
  }
  .embudo .boton_reserva button {
    font-size: xx-large;
  }
  .card_beneficios {
    width: 75%;
    height: 220px;
  }
  .card_beneficios img {
    width: 70%;
    height: 150px;
  }
  .card_beneficios .card_title h5 {
    font-size: small;
  }
  .icon_pasos i {
    font-size: xx-large;
  }
  .container_pasos h4 {
    font-size: large;
  }
  .container_pasos .icon_pasos .paso_1 p, .container_pasos .icon_pasos .paso_2 p, .container_pasos .icon_pasos .paso_3 p {
    font-size: small;
  }
}
@media (max-width: 992px) {
  .navbar-collapse li {
    padding: 5px;
  }
  .navbar-collapse {
    background-color: rgba(180, 201, 231, 0.06);
    border-radius: 10px 10px;
  }
  .encabezado {
    padding-left: 20px;
    width: auto;
  }
  .logo_container img {
    width: auto;
    height: 200px;
  }
  .carousel-inner img {
    height: 600px;
    padding: 20px 0;
  }
  .lugares .videos_container {
    grid-template-columns: repeat(2, 1fr);
  }
  .recomendados_container {
    grid-template-columns: repeat(3, 1fr);
  }
  .container_pasos .icon_pasos .paso_1, .container_pasos .icon_pasos .paso_2, .container_pasos .icon_pasos .paso_3 {
    width: 100%;
  }
}
@media (max-width: 893px) {
  .contactanos {
    width: 100%;
  }
  .form_control_contacto {
    width: 100%;
    padding: 10px;
  }
  .contactanos .form_container_contacto {
    width: 100%;
  }
  .dudas .preguntas h2 {
    font-size: large;
  }
  .redes .redes_texto h2 {
    font-size: medium;
  }
  .actividades_container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (max-width: 850px) {
  .actividades_container {
    grid-template-columns: repeat(2, 1fr);
    padding-top: 10px;
  }
  .actividades h2 {
    justify-content: center;
  }
  .actividades p {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .actividades {
    padding-top: 10px;
    padding-bottom: 15px;
  }
  .imagenes_turisticas h2 {
    justify-content: center;
  }
  .imagenes_turisticas p {
    width: 100%;
    display: flex;
    justify-content: center;
    overflow-x: scroll;
  }
  .actividades {
    padding: 15px;
  }
  .beneficios h2 {
    justify-content: center;
  }
  .recomendados {
    place-items: center;
  }
  .lugares {
    place-items: center;
  }
  .imperdibles {
    place-items: center;
    padding-top: 15px;
  }
  .carousel-inner img {
    height: 500px;
  }
  .carousel-inner p {
    font-size: small;
    font-weight: 500;
  }
  .reservas {
    width: 100%;
  }
  .reservas .form_container {
    width: auto;
  }
  .container_pasos .encabezado_pasos h2 {
    justify-content: center;
  }
  .top-actividades h2 {
    justify-content: center;
  }
  .top-actividades p {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .resenas h2 {
    justify-content: center;
  }
  .resenas {
    padding: 0;
  }
  .form_viajero h2 {
    justify-content: center;
  }
  .form_viajero p {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .top-actividades .top-actividades_container {
    grid-template-columns: repeat(2, 1fr);
    padding: 15px;
    margin-left: 0;
    gap: 20px;
  }
  .institucional {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}
@media (max-width: 768px) {
  .contenido .slogan {
    font-size: medium;
  }
  .contenido h1 {
    font-size: 25px;
  }
  .contenido h2 {
    font-size: 20px;
  }
  .container_pasos .icon_pasos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding-left: 0;
  }
  .container_pasos .icon_pasos .paso_1, .container_pasos .icon_pasos .paso_2, .container_pasos .icon_pasos .paso_3 {
    width: 100%;
    height: 200px;
    padding: 15px 5px;
    place-items: center;
  }
  .icon_pasos i {
    font-size: xxx-large;
  }
  .container_pasos h4 {
    font-size: x-large;
  }
  .container_pasos .icon_pasos .paso_1 p, .container_pasos .icon_pasos .paso_2 p, .container_pasos .icon_pasos .paso_3 p {
    font-size: large;
  }
  .beneficios .beneficios_container {
    grid-template-columns: 1fr;
    gap: 20px;
  }
  .beneficios .card_beneficios {
    width: 100%;
    height: 350px;
  }
  .card_beneficios img {
    padding: 20px 50px;
    width: 60%;
    height: 290px;
  }
  .card_beneficios .card_title h5 {
    font-size: medium;
  }
  .navegacion_nav {
    width: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 10px;
  }
  .pie {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    place-items: center;
  }
  .contacto .contacto_web {
    flex-direction: column;
    gap: 0;
    align-items: center;
    justify-content: center;
  }
  .contacto .contacto_whatsapp .boton_whatsapp_contacto i {
    font-size: xxx-large;
    margin-bottom: 10px;
  }
  .contacto p {
    padding-bottom: 5px;
  }
  .contacto {
    padding-bottom: 10px;
  }
  .contacto .contacto_whatsapp {
    flex-direction: column;
    padding: 0;
    gap: 0;
    align-items: center;
    justify-content: center;
  }
  .carousel-inner h5 {
    font-size: medium;
  }
  .recomendados_container {
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .contactanos h4 {
    font-size: large;
  }
  .form_viajero .viajero_frecuente .form_control_viajero input {
    width: 350px;
    font-size: small;
  }
  .form_viajero .viajero_frecuente .form_control_viajero label {
    font-size: small;
  }
}
@media (max-width: 645px) {
  .lugares .videos_container {
    grid-template-columns: 1fr;
  }
  .reservas .form_container form .form_control label {
    width: 100%;
    font-size: medium;
  }
}
@media (max-width: 600px) {
  .embudo h2 {
    font-size: large;
    padding-top: 30px;
  }
  .embudo {
    height: 300px;
    justify-content: start;
  }
  .embudo .boton_reserva button {
    font-size: x-large;
  }
  .recomendados_container {
    grid-template-columns: 1fr;
    place-items: center;
  }
  .reservas #observaciones {
    width: 300px;
  }
  .top-actividades .top-actividades_container {
    padding: 0px;
    gap: 10px;
  }
  .resenas .imagenes_resenas .card_resena {
    height: 200px;
  }
  .resenas .imagenes_resenas .card_resena .nombre_usuario {
    font-size: medium;
  }
  .resenas .imagenes_resenas .card_resena .resena_usuario {
    font-size: large;
  }
  .form_control_viajero {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .carousel-inner img {
    height: 400px;
  }
}
@media (max-width: 480px) {
  .navbar-collapse a {
    font-size: small;
  }
  .top-actividades .top-actividades_container {
    grid-template-columns: 1fr;
    gap: 20px;
    place-items: center;
  }
  .reservas .form_container {
    justify-content: center;
  }
  .reservas .form_container form {
    font-weight: 500;
    padding: 5px;
  }
  .reservas .form_container textarea {
    width: 250px;
    height: 80px;
  }
  .actividades_container {
    grid-template-columns: 1fr;
    gap: 5px;
  }
  .reservas .form_container form .form_control input[type=email] {
    width: 300px;
  }
  .reservas .form_container {
    width: 100%;
  }
  .lugares h2, .recomendados h2, .imperdibles h2, .actividades h2, .imagenes_turisticas h2, .beneficios h2 {
    font-size: large;
  }
  .recomendados p, .actividades p, .imagenes_turisticas p {
    font-size: small;
  }
  .carousel-inner h5 {
    font-size: small;
  }
  .carousel-inner p {
    font-size: smaller;
  }
  .beneficios .card_beneficios {
    width: 100%;
    height: 200px;
  }
  .card_beneficios img {
    padding: 0px 30px;
    width: 60%;
    height: 140px;
  }
  .card_beneficios .card_title h5 {
    font-size: smaller;
  }
  .contactanos .form_container_contacto {
    padding: 0;
  }
}
@media (max-width: 450px) {
  .reservas .form_container {
    padding: 2px;
  }
  .form_control_contacto input {
    font-size: smaller;
  }
  #observaciones_contacto {
    font-size: smaller;
  }
  .resenas .imagenes_resenas .card_resena .nombre_usuario {
    font-size: small;
  }
  .resenas .imagenes_resenas .card_resena .resena_usuario {
    font-size: medium;
  }
  .resenas .imagenes_resenas .card_resena {
    padding: 3px;
  }
  .contactanos .form_container_contacto h4 {
    font-size: small;
    padding: 15px 5px;
  }
  .logo_container img {
    width: 100px;
    height: 150px;
    padding-left: 0;
  }
  .form_viajero .viajero_frecuente .form_control_viajero input {
    width: 300px;
  }
}
@media (max-width: 380px) {
  .reservas .form_container form .form_control input[type=text], .reservas .form_container form .form_control input[type=email] {
    width: 250px;
  }
  .reservas .form_container form .form_control #observaciones {
    width: 250px;
  }
  .form_control_contacto input[type=submit] {
    width: 70px;
    height: 40px;
    font-weight: bold;
    font-size: smaller;
  }
  .form_control_contacto input[type=reset] {
    width: 70px;
    height: 40px;
    font-weight: bold;
    font-size: smaller;
  }
  .resenas .imagenes_resenas .card_resena {
    height: auto;
  }
  .resenas .cinco_estrellas i {
    font-size: medium;
  }
  .resenas .imagenes_resenas .card_resena .nombre_usuario {
    font-size: smaller;
  }
  .resenas .imagenes_resenas .card_resena .resena_usuario {
    font-size: smaller;
  }
}
@media (max-width: 370px) {
  .carousel-inner p {
    display: none;
  }
  .carousel-inner img {
    height: 250px;
  }
  .card_beneficios img {
    width: 75%;
  }
  .container_pasos .icon_pasos .paso_1, .container_pasos .icon_pasos .paso_2, .container_pasos .icon_pasos .paso_3 {
    width: 100%;
    height: 200px;
    padding: 15px 0px;
  }
  .icon_pasos i {
    font-size: xx-large;
  }
  .container_pasos h4 {
    font-size: large;
  }
  .container_pasos .icon_pasos .paso_1 p, .container_pasos .icon_pasos .paso_2 p, .container_pasos .icon_pasos .paso_3 p {
    font-size: medium;
  }
  .form_viajero .viajero_frecuente .form_control_viajero input {
    font-size: smaller;
    width: 220px;
  }
  .form_viajero .viajero_frecuente .form_control_viajero label {
    font-size: smaller;
  }
  .form_viajero p {
    font-size: smaller;
  }
}
@media (max-width: 320px) {
  .reservas .form_container form .form_control input[type=text], .reservas .form_container form .form_control input[type=email] {
    width: 200px;
  }
  .reservas .form_container form .form_control #observaciones {
    width: 200px;
  }
  .form_container form .form_control select {
    width: 200px;
  }
}

/*# sourceMappingURL=style.css.map */
