@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400&display=swap');

@font-face {
    font-family: "Jingle Star";
    src: url(../fonts/Jingle\ Star.ttf);
}

*{
    margin: 0;
    padding:0;
    list-style: none;
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}

.logo_container img{
    width: 150px;
    }

.logo_container{
    width: 40%;
    padding: 20px;
    position: absolute;
}

.titulo{ 
    font-size: 60px;
    font-family:"Jingle Star", cursive;
    padding: 10px;
    margin:  10px;
    color: blue;
}

body{
background-color: rgb(241, 248, 249);    
}

.encabezado{
    z-index: 100;
    padding: 10px;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    }

.navegacion_nav {
    position: relative;
    margin-left: 170px ;
    padding: 35px;
    font-weight: 800;
   
}
.navegacion_nav a{
    text-decoration: none;
    color: black;
}

.reservas video{
    width: 100%;
    position: relative;
}

.reservas{
    position: relative;
}

.form_container{
    padding: 30px;
    position: absolute;
    top: 20%;
    left: 10%;
    background-color: rgba(107, 107, 172, 0.271);
    width: 40%;
}

.form_container form{
    color: white;   
}

h2{
    font-size: 19px;
}

.top-actividades_container img{
    width: 250px;
    height: 200px;
    border-radius: 10px 25px;
}

.beneficios img{
    width: 150px;
    height: 140px;
}

.resenas img{
    width: 300px;
    height: 200px;
}

ul li{
    padding: 50px;
    display: inline;
}

.rrss{
    padding:10px;
    margin: 10px;
    position: relative;
    left: 1300px;
}

.rrss i{
    font-size: 30px;
    transition: all ease 500ms;
}
.rrss i:hover{
transform: scale(1.2);
}

.institucional{
    padding: 10px;
    margin:  10px;
}

.instagram{
    color: blueviolet;
}
.whatsapp{
    color: green;
}
.slogan{
    padding-bottom: 15px;
}

.pie{
    position: relative;
    left: 500px;
}

.rrss_footer{
    padding-bottom:20px;
    padding-left: 40px;
}

.rrss_footer i{
    text-decoration: none;
    font-size: 40px;
    transition: all ease 500ms;
}
.rrss_footer i:hover{
transform: scale(1.2);
}

.navegacion_nav footer {
    position: relative;
    margin-top: 40px;
    margin-left: 60px ;
    padding: 30px;
    color: black;
}

.capa{
    position: absolute; 
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.27);
    mix-blend-mode: overlay;
}
.form_control_viajero select{
width: 400px;
}

.form_control input{
    width: 250px;
}

.form_control_viajero{
    width: 800px;
}

.icon_pasos i{
    font-size: xx-large;
}

.icon_pasos{
    display:flex;
    margin: 25px 15px;
}

.top-actividades_container img{
    margin: 25px 35px;
}
.beneficios img{
width: 200px;
height: 200px;
border-radius: 100px 100px;
padding: 50px;   
}

.form_container h2{
    color: beige;
}

h2{
    margin: 20px;
}

.descripciones_carrusel span{
    font-weight: bold;
    padding: 70px;
}

.encabezado_pasos p{
    margin-left: 10px;
}

.top-actividades p{
    margin-left: 10px;
}
.resenas img{
    padding: 20px;
}

.resenas .cinco_estrellas{
margin-left: 20px;
color:gold;
}

.resenas i{
    padding: 5px;
}

.form_viajero p{
    margin-left: 10px;
    margin-bottom: 15px;
}

.form_viajero{
background-color: rgba(240, 233, 233, 0.238);
}

.form_control_viajero label{
    font-size:small;
    color: black;
    font-weight: bold;
}
.form_control_viajero input{
width: 300px;
}

.contenido h1{ 
    font-size: 40px;
    font-family:"Jingle Star", cursive;
    padding: 10px;
    margin:  10px;
    color: blue;
}


