@import "./partials/fonts";
@import "./partials/reset";
@import "./partials/variables";
@import "./partials/mixin";


body{
    background-color: rgb(241, 248, 249);   
    }

/* Estilos Navbar */
.encabezado{
    // z-index: 100;
    width: $ancho;
    align-items: start;
    justify-content: space-between;
    font-weight: bold;   
    padding-right: 20px;

    .logo_container img{
        width: 200px;
        padding-left: 15px;
    &:hover{
        transform:scale(1.4);
        }
    }
    .navbar-collapse li{
        width: auto;
        padding: 20px; 
        font-weight: bold;
        font-size: medium;
    } 
}

/* pseudoclase Hover */
.navbar-nav .nav-item a:hover, .navbar-nav .nav-item a:active {
    background-color:rgba(3, 3, 141, 0.116);
    font-weight: 600;
}        

/* Estilo RRSS */
.rrss{
    display: flex;
    align-items: center;
    justify-content: start;

    
    .instagram{
        @include instagram ();
    }
    .whatsapp{
        @include whatsapp ();
    }
    i{
        font-size: 30px;
        transition: all ease 500ms;
        &:hover{
            transform: scale(1.2);
            }        
    }
}

/* Estilos Institucional */
.institucional{
    padding-bottom: 20px;
    width: $ancho;
    padding-left: 15px;
}

.contenido h1{ 
    font-size: 30px;
    font-family:"Jingle Star", cursive;
    color: rgba(41, 41, 157, 0.807);
    display: flex;
    align-items: start;
    justify-content: start;
}
.contenido .slogan{ 
    font-size: 20px;
    font-weight: 700;
    color: rgba(22, 14, 14, 0.816);
    display: flex;
    align-items: start;
    justify-content: start;
}

/* Estilos Formulario reserva */

.reservas{
    width: $ancho;
    height: 700px;
    background-image: url(../img/ObeliscoBA.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-top: 50px;
    padding-bottom: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;

    .form_container{
        width: 45%;
        padding: 20px;
        background-color: rgba(108, 108, 136, 0.511);
        height: auto;

        form{
            color: white;
            font-weight: 700; 

            .form_control input[type="text"]{
                width: 300px;
            }
            .form_control input[type="email"]{
                width: 350px;
            }
            textarea{
                width: 400px;
                height: 100px;
            }
            .form_control label{
                width: auto;
                padding-right: 10px;
                padding-bottom: 10px;
                font-size: large;
            }
            .form_control .cantidad{
                padding-bottom: 10px;
            }
            .form_control input{
                padding-left: 3px;
            }
            .form_control #observaciones{
                padding-left: 3px;
            }
        }
        h2{
            font-family:"Jingle Star", cursive;
            font-size: 30px;
            color:aliceblue;
            padding: 0;
            width: auto;
            display: flex;
            justify-content: center;
        }
    }  
}

/* Estilos sección Pasos */

.container_pasos{
    width: $ancho;
    padding: 0.5rem 1%;
    display: grid;
    gap: 0.75rem;
    grid-template-rows: 50px 1fr;   
    padding-bottom: 35px; 

    .encabezado_pasos{
        padding-bottom: 10px;
        padding-top: 10px;

        h2{
            font-weight: bold;
            padding-top: 20px;
            padding-bottom: 20px;
            color: black;
            display: flex;
            align-items: start;
            justify-content: start;
            font-size: x-large;
        }
    }
    .icon_pasos{
        width: $ancho;
        display: grid;   
        grid-template-columns: repeat(3, 1fr);
        padding-top: 30px;
        padding-left: 20px;
        grid-template-areas: 
        "uno dos tres";
        gap: 15px;

        .paso_1{
            border-radius: 5px 10px;
            box-shadow: 1px 1px 5px black;
            grid-area: uno;
            width: 80%;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px;

            p{
                width: $ancho;
                padding: 5px;
                box-shadow: none;
                font-size: medium;
                font-weight: 500;
            }
        }
        .paso_2{
            border-radius: 5px 10px;
            box-shadow: 1px 1px 5px black;
            grid-area: dos;
            width: 80%;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px;

            p{
                width: $ancho;
                padding: 5px;
                box-shadow: none;
                font-size: medium;
                font-weight: 500;
            }
        }
        .paso_3{
            border-radius: 5px 10px;
            box-shadow: 1px 1px 5px black;
            grid-area: tres;
            width: 80%;
            height: 200px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            padding: 10px;

            p{
                width: $ancho;
                padding: 5px;
                box-shadow: none;
                font-size: medium;
                font-weight: 500;
            }
        }
    }
}

.icon_pasos i{
    font-size: xxx-large;
}
.container_pasos h4{
    font-size: x-large;
    font-weight: 900;
}

/* Estilos sección top actividades */

.top-actividades {
    padding: 0.5rem 1%;
    width: $ancho;
    background-color:rgba(215, 248, 248, 0.401);
    gap: 0.75rem;
    margin-top: 10px;

    h2{
        font-weight: bold;
        font-size: x-large;
        padding-top: 20px;
        padding-bottom: 20px;
        color: black;
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .top-actividades_container{
        width: $ancho;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 15px;
        justify-content: center;
        padding-top: 15px;

        img{
            width: auto;
            height: 200px;
            border-radius: 10px 25px;
            padding: 10px;
        }
    }
}

/* Estilos detalle servicios */
.detalle_servicios p{
    width: auto;
    font-size: medium;
    margin-bottom: 20px;
    margin-top: 20px;
}
.detalle_servicios h1{
    width: $ancho;
    display: flex;
    justify-content: center;
    font-size: x-large;
    font-weight: bold;
    padding:15px;
    margin: 15px;
}
.detalle_servicio{
    width: 90%;
    height: auto;
    margin: 15px ;
    padding: 15px;
    overflow-x: scroll;
}

/* Estilos Cards */

.card {
    width: $ancho;
    background-color: #f5f5f4c3;
    border-radius: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .45);

    img {
        border-radius: 5px 5px 0 0;
        height: 200px;
        object-fit: cover;
        opacity: .65;

    &:hover {
        opacity: 1;
        }
    }
    .card_title {
        font-size: medium;
        height: 10%;
        padding: 0 5px;
    }
    .card_container {
        width: $ancho;
        height: 350px;
        padding: 10px;
        font-size: .90rem;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;

        a.boton_descubrir{
            width: 100px;
            align-self: flex-end;
            font-weight: bold;
            &:hover{
                transform: scale(1.2);
                }
        }
    }
}

/* Estilos sección beneficios */
 
.beneficios{
    width: $ancho;
    padding: 1rem 1%;
    display: grid;
    grid-template-rows: 100px auto; 
    background-color:rgba(215, 248, 248, 0.401);

    h2 {
        font-weight: bold;
        font-size: x-large;
        padding-top: 20px;
        padding-bottom: 20px;
        color: black;
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .beneficios_container{
        width: $ancho;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-bottom: 25px;
        place-items: center;
    }
}

.card_beneficios {
    width: 75%;
    height: 270px;
    display: flex;
    align-items: center;
    background-color: #fafaee86;
    padding-top: 20px;
    border-radius: 10px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, .45);
    flex-flow: column wrap;
    gap: 10px;

    img {
        border-radius: 5px 5px 0 0;
        width: 50%;
        height: 180px;
        opacity: .75;
        
    }
    .card_title {
        padding: 0px 5px;

        h5 {
            font-size:large;
            font-weight: bold;
        }
    }
}

/* Estilos sección Reseñas */
.resenas{
    width: $ancho;
    padding: 1rem 1%;
    display: grid;
    grid-template-rows: 100px 50px auto;

    h2{
        font-weight: bold;
        padding-top: 20px;
        color: black;
        display: flex;
        align-items: start;
        justify-content: start;
        width: $ancho;
        font-size: x-large;
    }
    .cinco_estrellas{
        width: $ancho;
        display: flex;
        align-items: center;
        justify-content: center;
        color:gold;
        padding-bottom: 20px;

        i{
            padding: 10px;
            font-size:xx-large;
        }
    }
    .imagenes_resenas{
        width: $ancho;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        place-items: center;
        gap: 15px;
        padding-top: 15px;

        .card_resena{
            width:100%;
            height: 160px;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: space-evenly;
            border-radius: 5px 10px;
            box-shadow: 1px 1px 5px black;
            padding: 10px;
            box-sizing: border-box;
            background-color: rgba(187, 208, 253, 0.214);

            .nombre_usuario{
                font-weight: bold;
                font-size: medium;
            }
        }
    }
}

/* Estilos sección viajero frecuente */

.form_viajero{
    width: $ancho;
    padding: 1rem 1%;
    padding-bottom: 30px;
    display: grid;
    grid-template-rows: 80px 60px auto;
    background-color: rgba(240, 233, 233, 0.238);

    h2{
        font-weight: bold;
        padding-top: 20px;
        color: black;
        display: flex;
        align-items: start;
        justify-content: start;
        width: $ancho;
        font-size: x-large;
    }
    .viajero_frecuente{
        width: $ancho;
        display: flex;

        .form_control_viajero label{
            font-size:medium;
            color: black;
            padding-top: 15px;
            padding-bottom: 15px;
            padding-left: 5px;
            padding-right: 25px;
            font-weight: bold;
        }
        .form_control_viajero input{
            width: 450px;
            height: auto;
            padding-left: 3px;
        }
        .form_control_submit{
            margin-top: 15px;
        }
    }  
}

/* Estilos sección footer */

.navegacion_nav{
    width: $ancho;
    display: grid;
    grid-template-columns: repeat(6, 1fr);

    a{
        text-decoration: none;
        color: black;
        font-weight: bold;
    }
}

.pie{
    width: $ancho;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .rrss_footer{
        padding-bottom:20px;
        padding-left: 40px;

        .instagram{
            @include instagram ();
        }
        .whatsapp{
            @include whatsapp ();
        }
        i{
            text-decoration: none;
            font-size: 40px;
            transition: all ease 500ms;
        &:hover{
            transform: scale(1.2);
            }
        }
    }
}

/* botones */
.boton{
    padding: 5px 10px;
    border: none;
    border-radius: 8px;
    background-color: transparent;
    font-size: 1.125rem;
    cursor: pointer;
    text-decoration: none;
}

.boton_descubrir {
    width: auto;
    color: #333;
    background-color: #f5f5916d;
}

.boton-submit {
    background-color:rgba(187, 234, 218, 0.752);
    font-weight: 400;
    width: auto;
    &:hover{
    background-color: rgba(187, 234, 218, 0.873);
    }
}

/* Página Servicios */

.contenido_servicios{
    width: $ancho;
    display: grid;
    padding: 15px;

    h1{ 
        font-size: 30px;
        font-family:"Jingle Star", cursive;
        color: rgba(41, 41, 157, 0.807);
        display: flex;
        align-items: start;
        justify-content: center;
    }
}

/* Sección embudo */
.embudo{
    width: $ancho;
    height: 600px;
    padding-top: 20px;
    padding-bottom: 20px;
    background-image: url(../img/Obelisco3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    border-radius: 10px 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    h2{
        width: $ancho;
        font-size: xxx-large;
        display: flex;
        justify-content: center;
        align-items: start;
        padding-left: 15px;
        color: whitesmoke;
        font-weight: 600;
        padding-right: 5px;
    }
    .boton_reserva{
        width: $ancho;
        display: flex;
        justify-content: center;
        padding-top: 70px;

        button{
            width: $ancho;
            font-size: xx-large;
        }
    }
}

/* Sección actividades */

.actividades {
    padding: 0.5rem 1%;
    width: $ancho;
    background-color:rgba(151, 213, 249, 0.125);
    gap: 0.75rem;
    display: grid;
    grid-template-rows: 50px 50px auto; 

    h2{
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
        color: black;
        display: flex;
        align-items: start;
        justify-content: start;
        font-size: x-large;
    }
    .intro{
        margin-top: 15px;
    }
}
.actividades_container{
    width: $ancho;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background-color: rgba(151, 213, 249, 0.125);
    gap: 10px;
    margin-bottom: 20px;

    img{
        width: auto;
        height: 200px;
        border-radius: 5px 10px;
        margin: 10px;
    }
    .card_title h4{
        width: $ancho;
        display: flex;
        justify-content: center;
        font-weight: bold;
        padding-top: 5px;
    }
}

/* Sección Galería de fotos */

.imagenes_turisticas{
    width: $ancho;
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1%;
    gap:0,75rem;

    h2 {
        font-weight: bold;
        padding-top: 20px;
        padding-bottom: 20px;
        color: black;
        display: flex;
        align-items: start;
        justify-content: start;
        font-size: x-large;
    }
    .intro{
        margin-top: 15px;
    }
}

/* Página Preguntas */

.contenido_preg{
    padding: 15px;

    h1{ 
        font-size: 30px;
        font-family:"Jingle Star", cursive;
        color: rgba(41, 41, 157, 0.807);
        display: flex;
        align-items: start;
        justify-content: center;
        padding-bottom: 20px;
    }
}

.accordion-header button{
    font-weight: bold;
    font-size: large;
}

.contacto {
    width: $ancho;
    padding-top: 40px;
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    justify-content: start;
    align-items: center;

    .contacto_web{
        width: $ancho;
        display:flex;
        padding-bottom: 20px;

        .contacto button{
            font-size: x-large;
        }
    }
    .contacto_whatsapp{
        width: $ancho;
        display: flex;
        flex-direction: column;

        .boton_whatsapp_contacto i{
            width: $ancho;
            font-size:xxx-large;
            margin-bottom: 20px;
            @include whatsapp();
        }
    }

}

.contacto p{
    font-size: x-large;
    padding-bottom: 20px;
}

/* Página Guía turística */

.contenido_guia{
    padding: 15px;

    h1{ 
        font-size: 30px;
        font-family:"Jingle Star", cursive;
        color: rgba(41, 41, 157, 0.807);
        display: flex;
        align-items: start;
        justify-content: center;
    }
} 

/* Sección Imperdibles */
.imperdibles {
    padding: 0.5rem 1%;
    width: $ancho;
    background-color:rgba(226, 250, 250, 0.753);
    gap: 0.75rem;
    display: grid;
    grid-template-rows: 50px auto; 

    h2{
        font-weight: bold;
        font-size: x-large;
        padding-top: 20px;
        padding-bottom: 20px;
        color: black;
        display: flex;
        align-items: start;
        justify-content: start;
    }
}

/* Imperdibles carrusel */
.carousel-inner img{
    width: auto;
    height: 670px;
    padding: 20px 100px;
}

.carousel-inner h5{
    font-weight: bold;
    color:white;
    font-size: x-large;
    background: rgba(0, 0, 0, 0.384);
    line-height: 1em;
}

.carousel-inner p{
    font-weight: 600;
    color:white;
    font-size:medium;
    background: rgba(0, 0, 0, 0.384);
}

/* Sección recomendados */
.recomendados {
    padding: 0.5rem 1%;
    width: $ancho;
    background-color:rgba(214, 251, 251, 0.359);
    gap: 0.75rem;
    display: grid;
    grid-template-rows: 50px auto; 

    h2{
        font-weight: bold;
        font-size: x-large;
        padding-top: 20px;
        padding-bottom: 20px;
        color: black;
        display: flex;
        align-items: start;
        justify-content: start;
    }
}

.recomendados_container{
    width: $ancho;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    margin-bottom: 20px;

    img{
        width: auto;
        height: 200px;
        border-radius: 10px 25px;
        margin: 10px;
    }
}

.recomendados p, .actividades p, .imagenes_turisticas p{
    font-size: large;
    margin-top: 5px;
    margin-bottom: 20px;
}

.card_title h4{
    width: $ancho;
    display: flex;
    justify-content: center;
    font-weight: bold;
}

/* Sección Disfruta los mejores lugares de Argentina */

.lugares {
    padding: 0.5rem 1%;
    width: $ancho;
    background-color:rgba(214, 251, 251, 0.359);
    gap: 0.75rem;
    display: grid;
    grid-template-rows: 50px auto; 

    h2{
        font-weight: bold;
        font-size: x-large;
        padding-top: 20px;
        padding-bottom: 20px;
        color: black;
        display: flex;
        align-items: start;
        justify-content: start;
    }
    .videos_container{
        width: $ancho;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        padding-top: 20px;
        gap: 15px;

        iframe{
            width: $ancho;
        }
    }
}

/* Página Contacto */

.nombre_pag h1{
    font-size: 30px;
    font-family:"Jingle Star", cursive;
    color: rgba(41, 41, 157, 0.807);
    display: flex;
    align-items: start;
    justify-content: center;
    padding-bottom: 20px;
}


.dudas{
    width: $ancho;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .preguntas{
        padding-bottom: 20px;
        padding-top: 15px;
        place-items: center;
        

        h2{
            padding-bottom: 40px;
        }
        .boton_preguntas{
            width: $ancho;
            display: flex;
            justify-content: center;
        }

    }
}

.redes{
    width: $ancho;
    padding-bottom: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .redes_texto h2{
        width: $ancho;
        display: flex;
        justify-content: start;
        align-items: center;
    }
    .redes_logos{
        width: $ancho;
        display: flex;
        justify-content: center;
        padding-top: 10px;

        i{
            width: $ancho;
            font-size:xxx-large;
            margin-bottom: 20px;
        }
        .instagram{
            @include instagram ();
        }
        .whatsapp{
            @include whatsapp ();
        }
    }
}

.preguntas button{
    width: $ancho;
    margin-top: 15px;
    font-size: x-large;
    background-color:rgba(101, 99, 99, 0.825);

}

.contenido{
    padding:15px;
}

.contactanos{
    width: $ancho;
    display: flex;
    justify-content: center;

    .form_container_contacto{
        width: 45%;
        background-color: rgba(128, 128, 128, 0.297);
        padding: 15px 40px;
        border-radius: 20px 15px;
        display: flex;
        flex-direction: column;
        

        h4{
            padding: 25px;
            font-weight: bold;
            width: $ancho;
            display: flex;
            justify-content: center;
        }
    }
}

.form_control_contacto{
    width: $ancho;
    padding-bottom: 15px;
    padding-right: 5px;
    

    label{
        width: $ancho;
        align-items: center;
    }

    input[type="submit"]{
        width: 110px;
        height: 40px;
        font-weight: bold;
        font-size: medium;
        background-color: rgba(98, 98, 203, 0.242);
        border-radius: 5px 15px;
        &:hover{
            background-color: rgba(0, 0, 255, 0.196);
        }    
    }
    input[type="reset"]{
        width: 110px;
        height: 40px;
        font-weight: bold;
        font-size: medium;
        background-color: rgba(98, 98, 203, 0.242);
        border-radius: 15px 5px;
        &:hover{
            background-color: rgba(0, 0, 255, 0.196);
        }
    }
    input{
        padding-left:2px;
        width: $ancho;
    }
    #observaciones_contacto{
        width: $ancho;
        padding-left: 2px;
    }
}

.form_control_contacto label{
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: medium;
    font-weight: bold;
}

@import "./partials/queries";