/* Media queries */

@media (max-width:1100px){
    .encabezado{
        .navbar-collapse li{
            padding: 10px;
        }
    }
    
    .recomendados .recomendados_container .card_container{
        height:370px;
    }

    .resenas .imagenes_resenas{
        display:flex;
        flex-direction: column;
        justify-content: space-between;
    }
    .resenas .imagenes_resenas .card_resena{
        height: 240px;
    }
    .resenas .imagenes_resenas .card_resena .nombre_usuario{
        font-size: large;
    }
    .resenas .imagenes_resenas .card_resena .resena_usuario{
        font-size: x-large;
    }

    .reservas .form_container{
        display: flex;
        flex-direction: column;
        width: auto;
        height: auto;
    }
    .reservas{
        height: auto;
    }

    .embudo h2{
        font-size: xx-large;
    }
    .embudo{
        height: 400px;
    }
    .embudo .boton_reserva button{
        font-size: xx-large;
    }
    .card_beneficios{
        width: 75%;
        height: 220px;

        img{
            width: 70%;
            height: 150px;
        }
        .card_title h5{
            font-size: small;
        }
    }
    .icon_pasos i{
        font-size: xx-large;
    }
    .container_pasos h4{
        font-size: large;
    }
    .container_pasos .icon_pasos .paso_1 p,.container_pasos .icon_pasos .paso_2 p, .container_pasos .icon_pasos .paso_3 p{
        font-size: small;
    }
}

@media (max-width:992px){
    .navbar-collapse li{
        padding: 5px;
    }
    .navbar-collapse{
        background-color: rgba(180, 201, 231, 0.06);
        border-radius: 10px 10px;
    }

    .encabezado{
        padding-left: 20px;
        width: auto;
    }

    .logo_container img{
        width: auto;
        height: 200px;
    }

    .carousel-inner img{
        height: 600px;
        padding: 20px 0;
    }
    .lugares .videos_container{
        grid-template-columns: repeat(2,1fr);
    }

    .recomendados_container{
        grid-template-columns: repeat(3, 1fr);
    }
    .container_pasos .icon_pasos .paso_1,.container_pasos .icon_pasos .paso_2, .container_pasos .icon_pasos .paso_3{
        width: 100%;
    }
    .card .card_container{
        height: 400px;
    }
}

@media (max-width:893px){

    .contactanos{
        width: 100%;
    }

    .form_control_contacto{
        width: 100%;
        padding: 10px;
    }

    .contactanos .form_container_contacto{
        width: 100%;
    }

    .dudas .preguntas h2{
        font-size: large;
    }

    .redes .redes_texto h2{
        font-size: medium;
    }
    .actividades_container{
        grid-template-columns: repeat(3,1fr);
    }
    .card .card_title h4{
        font-size: medium;
    }
}

@media (max-width:850px){
    .actividades_container{
        grid-template-columns: repeat(2,1fr);
        padding-top: 10px;
        
    }
    .actividades h2{
        justify-content: center;
    }
    .actividades p{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .actividades{
        padding-top: 10px;
        padding-bottom: 15px;
    }
    .card .card_container{
        height: 240px;
    }

    .imagenes_turisticas h2{
        justify-content: center;
    }
    
    .imagenes_turisticas p{
        width: 100%;
        display: flex;
        justify-content: center;
        overflow-x: scroll;
    }
    .actividades{
        padding: 15px;
    }
    .beneficios h2{
        justify-content: center;
    }
    .recomendados{
        place-items: center;
    }
    .recomendados_container p{
        font-size: small;
    }
    .lugares{
        place-items: center;
    }
    .imperdibles{
        place-items: center;
        padding-top: 15px;
    }
    .carousel-inner img{
        height: 500px;
    }
    .carousel-inner p{
        font-size:small;
        font-weight: 500;
    }

    .reservas{
        width: 100%;
    }
    .reservas .form_container{
        width: auto;
    }
    .container_pasos .encabezado_pasos h2{
        justify-content: center;
    }
    .top-actividades h2{
        justify-content: center;
    }
    .top-actividades p{
        width: 100%;
        display: flex;
        justify-content: center;
    }

    .resenas h2{
        justify-content: center;
    }
    .resenas{
        padding: 0;
    }
    .form_viajero h2{
        justify-content: center;
    }
    .form_viajero p{
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .top-actividades .top-actividades_container{
        grid-template-columns: repeat(2,1fr);
        padding: 15px;
        margin-left: 0;
        gap: 20px;
    }
    .institucional{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

@media (max-width:768px){
    .contenido .slogan{
        font-size: medium;
    }

    .contenido h1{
        font-size: 25px;
    }
    .contenido h2{
        font-size: 20px;
    }

    .card .card_container{
        height: 300px;
    }

    .container_pasos .icon_pasos{
        display:flex;
        flex-direction:column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding-left: 0;
    }
    .container_pasos .icon_pasos .paso_1, .container_pasos .icon_pasos .paso_2, .container_pasos .icon_pasos .paso_3{
        width: 100%;
        height: 200px;
        padding:15px 5px;
        place-items: center;
    }

    .icon_pasos i{
        font-size: xxx-large;
    }
    .container_pasos h4{
        font-size: x-large;
    }
    .container_pasos .icon_pasos .paso_1 p,.container_pasos .icon_pasos .paso_2 p, .container_pasos .icon_pasos .paso_3 p{
        font-size: large;
    }

    .beneficios .beneficios_container{
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .beneficios .card_beneficios{
        width: 100%;
        height: 350px;
    }

    .card_beneficios img{
        padding: 20px 50px;
        width: 60%;
        height: 290px;
    }
    .card_beneficios .card_title h5{
        font-size: medium;
    }

    .navegacion_nav{
        width: auto;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-bottom: 10px;
    }
    .pie{
        display:grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        place-items: center;
    }
    
    .contacto .contacto_web{
        flex-direction: column;
        gap:0;
        align-items: center;
        justify-content: center;
    }
    .contacto .contacto_whatsapp .boton_whatsapp_contacto i{
        font-size: xxx-large;
        margin-bottom: 10px;
    }
    .contacto p{
        padding-bottom: 5px;
    }

    .contacto{
        padding-bottom: 10px;
    }
    .contacto .contacto_whatsapp{
        flex-direction: column;
        padding: 0;
        gap: 0;
        align-items: center;
        justify-content: center;
    }

    .carousel-inner h5{
        font-size: medium;
    }
    .recomendados_container{
        grid-template-columns: repeat(2, 1fr);
        gap: 20px;

        p{
            font-size: medium;
        }
    }

    .contactanos h4{
        font-size: large;
    }

    .form_viajero .viajero_frecuente .form_control_viajero input{
        width: 350px;
        font-size: small;
    }
    .form_viajero .viajero_frecuente .form_control_viajero label{
        font-size: small;
    }
}

@media (max-width:645px){
    .lugares .videos_container{
        grid-template-columns: 1fr;
    }

    .reservas .form_container form .form_control label{
        width: 100%;
        font-size: medium;
    }
}

@media (max-width:600px){
    .embudo h2{
        font-size: large;
        padding-top: 30px;
    }
    .embudo{
        height: 300px;
        justify-content: start;
    }
    .embudo .boton_reserva button{
        font-size: x-large;
    }

    .recomendados_container{
        grid-template-columns: 1fr;
        place-items: center;

        p{
            font-size: large;
        }
        h4{
            font-size: x-large;
        }
    }
    .reservas #observaciones{
        width: 300px;
    }

    .top-actividades .top-actividades_container{
        padding: 0px;
        gap: 10px;
    }

    .card .card_container{
        height: 350px;
    }
    .card .card_title{
        font-size: medium;
    }

    .resenas .imagenes_resenas .card_resena{
        height: 200px;
    }
    .resenas .imagenes_resenas .card_resena .nombre_usuario{
        font-size: medium;
    }
    .resenas .imagenes_resenas .card_resena .resena_usuario{
        font-size: large;
    }

    .form_control_viajero{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .carousel-inner img{
        height: 400px;
    }
}

@media (max-width:480px){
    .navbar-collapse a{
        font-size: small;
    }

    .top-actividades .top-actividades_container{
        grid-template-columns: 1fr;
        gap: 20px;
        place-items: center;
    }
    .card .card_container{
        height: 380px;
    }
    .card .card_container p{
        font-size: large;
    }

    .reservas .form_container{
        justify-content: center;
    }
    .reservas .form_container form{
        font-weight: 500; 
        padding: 5px;
    }
    .reservas .form_container textarea{
        width: 250px;
        height: 80px;
    }

    .actividades_container{
        grid-template-columns: 1fr;
        gap: 5px;
    }
    
    .reservas .form_container form .form_control input[type="email"]{
        width: 300px;
    }

    .reservas .form_container{
        width: 100%;
    }
    
    .lugares h2, .recomendados h2, .imperdibles h2, .actividades h2, .imagenes_turisticas h2, .beneficios h2{
        font-size: large;
    }
    .recomendados .intro p, .actividades p, .imagenes_turisticas p{
        font-size: small;
    }

    .recomendados .recomendados_container .card_container{
        height:270px;
    }

    .carousel-inner h5{
        font-size: small;
    }
    .carousel-inner p{
        font-size: smaller;
    }
    .beneficios .card_beneficios{
        width: 100%;
        height: 200px;
    }
    .card_beneficios img{
        padding: 0px 30px;
        width: 60%;
        height: 140px;
    }
    .card_beneficios .card_title h5{
        font-size: smaller;
    }
    .contactanos .form_container_contacto{
        padding: 0;
    }
}

@media (max-width:450px){

    .reservas .form_container{
        padding: 2px;
    }
    .form_control_contacto input{
        font-size:smaller;
    }
    #observaciones_contacto{
        font-size: smaller;
    }

    .resenas .imagenes_resenas .card_resena .nombre_usuario{
        font-size: small;
    }
    .resenas .imagenes_resenas .card_resena .resena_usuario{
        font-size: medium;
    }
    .resenas .imagenes_resenas .card_resena{
        padding: 3px;
    }

    .contactanos .form_container_contacto h4{
        font-size: small;
        padding:15px 5px;
    }
    .logo_container img{
        width: 100px;
        height: 150px;
        padding-left: 0;
    }
    .form_viajero .viajero_frecuente .form_control_viajero input{
        width: 300px;
    }
    .detalle_servicios h1{
        font-size: large;
    }
    .descripcion_servicio h1{
        padding: 15px;
    }
}

@media (max-width:380px){
    .reservas .form_container form .form_control input[type="text"],.reservas .form_container form .form_control input[type="email"]{
        width:250px;
    }
    .reservas .form_container form .form_control #observaciones{
        width: 250px;
    }
    .form_control_contacto input[type=submit] {
        width: 70px;
        height: 40px;
        font-weight: bold;
        font-size: smaller;
      }
      .form_control_contacto input[type=reset] {
        width: 70px;
        height: 40px;
        font-weight: bold;
        font-size: smaller;
      }

      .card .card_container{
        height: 300px;
    }
    .card .card_container p{
        font-size: small;
    }

    .resenas .imagenes_resenas .card_resena{
        height: auto;
    }
    .resenas .cinco_estrellas i{
        font-size: medium;
    }
    .resenas .imagenes_resenas .card_resena .nombre_usuario{
        font-size: smaller;
    }
    .resenas .imagenes_resenas .card_resena .resena_usuario{
        font-size: smaller;
    }
}

@media (max-width:370px){
    .carousel-inner p{
        display: none;
    }
    .carousel-inner img{
        height: 250px;
    }

    .card_beneficios img{
        width: 75%;
    }

    .container_pasos .icon_pasos .paso_1, .container_pasos .icon_pasos .paso_2, .container_pasos .icon_pasos .paso_3{
        width: 100%;
        height: 200px;
        padding:15px 0px;
    }

    .icon_pasos i{
        font-size: xx-large;
    }
    .container_pasos h4{
        font-size: large;
    }
    .container_pasos .icon_pasos .paso_1 p,.container_pasos .icon_pasos .paso_2 p, .container_pasos .icon_pasos .paso_3 p{
        font-size: medium;
    }
    .form_viajero .viajero_frecuente .form_control_viajero input{
        font-size: smaller;
        width: 220px;
    }
    .form_viajero .viajero_frecuente .form_control_viajero label{
        font-size: smaller;
    }
    .form_viajero p{
        font-size: smaller;
    }
}

@media (max-width:320px){
    .reservas .form_container form .form_control input[type="text"],.reservas .form_container form .form_control input[type="email"]{
        width:200px;
    }
    .reservas .form_container form .form_control #observaciones{
        width: 200px;
    }
    .form_container form .form_control select{
        width: 200px;
    }
    .card .card_container p{
        font-size: small;
    }
    .card .card_title h4{
        font-size: small;
    }  
}